access_key = "xxxxxxxxxxxxxxxxxx"
secret_key = "xxxxxxxxxxxxxxxxxx"
region_jp = "ap-northeast-1"
zone_jp = "ap-northeast-1a"
region_cn = "cn-shanghai"
zone_cn = "cn-shanghai-a"
region_us = "us-west-1"
zone_us = "us-west-1a"
project_name = "multi-region-sample"
publickey = "xxxxxxk"
