access_key = "xxxxxxxxxxxxxxxxxx"
secret_key = "xxxxxxxxxxxxxxxxxx"
region = "ap-northeast-1"
zone = "ap-northeast-1a"
rancher_manager_image = "xxxxxxxxxxxxxxxxxx"
rancher_host_image = "xxxxxxxxxxxxxxxxxx"
rancher_agent_install_cmd = "#!/bin/bash\ncurl https://releases.rancher.com/install-docker/17.03.sh | sh\nx=`curl http://100.100.100.200/latest/meta-data/eipv4`\ny=`curl http://100.100.100.200/latest/meta-data/instance-id`\n/usr/bin/docker run -e CATTLE_AGENT_IP=\"$x\" -e CATTLE_HOST_LABELS=\"id=$y\" --rm --privileged -v /var/run/docker.sock:/var/run/docker.sock -v /var/lib/rancher:/var/lib/rancher rancher/agent:v1.2.5 http://xxxxxxxxxxxxxxxxxx"
database_user_name = "wordpress"
database_user_password = "Test1234"
database_name = "wordpress"
database_character = "utf8"