access_key               = "YOUR_ACCESS_KEY"
secret_key               = "YOUR_SECRET_KEY"
publickey                = "YOUR_PUBLICK_KEY"
region-a                 = "ap-northeast-1"
region-b                 = "cn-shanghai"
vpc_name_region-a        = "vpc_test"
vpc_cidr_region-a        = "10.0.0.0/8"
vsw_cidr_region-a        = "10.0.1.0/28"
zone_region-a            = "ap-northeast-1a"
vpc_name_region-b        = "vpc_test2"
vpc_cidr_region-b        = "172.16.0.0/12"
vsw_cidr_region-b        = "172.16.255.0/28"
zone_region-b            = "cn-shanghai-a"
cen_name                 = "cen_test"
cen_description          = "test desc"
vpn_gateway_name         = "test"
vpn_gateway_description  = "test"
ssl_vpn_server_name      = "test"
client_ip_pool           = "10.255.255.0/28"
ssl_vpn_client_cert_name = "cert1"
